# === AUTH SERVICE (8000) ===
VITE_AUTH_BASE_URL=http://localhost:8000

# === CLIENT SERVICE (8001) ===
VITE_CLIENT_BASE_URL=http://localhost:8001

# === DOCUMENT SERVICE (8002) ===
VITE_DOCS_BASE_URL=http://localhost:8002

# שם הקוקי שהשרת מציב (HttpOnly)
VITE_AUTH_COOKIE_NAME=auth_token
